<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/2fe63102-0a25-4c6c-8ddb-e3b759a30be2/resourceGroups/cmps383-2026-sp-p03-g01-resource-group/providers/Microsoft.Web/sites/selu383-sp26-p03-g01</ResourceId>
    <ResourceGroup>cmps383-2026-sp-p03-g01-resource-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://selu383-sp26-p03-g01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90e69e1c-c009-4fd7-832d-030af062ed4b</ProjectGuid>
    <PublishUrl>https://selu383-sp26-p03-g01.scm.azurewebsites.net/</PublishUrl>
    <UserName>$selu383-sp26-p03-g01</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>