.nav {
  color: rgb(216, 180, 254);
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(54, 40, 69);

  display: flex;
  align-items: center;
}

h1{
  width: 100%;
}

ul.nav{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navItem:first-of-type {
  margin-left: auto;
}

li {
  display: inline-block;
  margin-right: 1.5%;
}

.card{
  background-color: rgb(54, 40, 69);
  color: rgb(216, 180, 254);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}