.nav,
.nav a,
.nav a:visited,
.nav a:hover,
.nav a:active {
  color: rgb(216, 180, 254);
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(54, 40, 69);
 
  display: flex;
  align-items: center;

  border-radius: 10px;
}

a{
  width: 100%;
  color: rgb(216, 180, 254);
}

#map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

ul.nav{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navItem:first-of-type {
  margin-left: auto;
}

li {
  display: inline-block;
  margin-right: 1.5%;
}

.card{
  background-color: rgb(54, 40, 69);
  color: rgb(216, 180, 254);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}