#navIcon {
  width: 10%;
  margin-right: 10px;
}

#bagIcon {
    width: 15%;
    margin-left: 10px;
}

#pinIcon {
    width: 15%;
    margin-left: 10px;
}

.nav,
.nav a,
.nav a:visited,
.nav a:hover,
.nav a:active {
  color: rgb(216, 180, 254);
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(54, 40, 69);
 
  text-decoration: none;
}

ul.nav{
  list-style: none;
}

li {
  display: inline-block;
}


